---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <a href="/">Главная</a>
    <a href="/about/">Обо мне</a>
    <a href="/blog/">Блог</a>
  </header>

  <main>
    <h1>Обо мне</h1>
    <h2>… и моём новом сайт на Astro!</h2>

    <p>
      Я изучаю введение об Astro. Это вторая страница на моем сайте, и это
      первая, которую я построил самостоятельно!
    </p>

    <p>
      Этот сайт будет обновляться по мере того, как я буду проходить больше
      уроков, поэтому продолжайте проверять его и следите за тем, как идет мой
      путь!
    </p>
  </main>
</Layout>
