---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <a href="/">Главная</a>
    <a href="/about/">Обо мне</a>
    <a href="/blog/">Блог</a>
  </header>

  <main>
    <h1>Мой блог обучения Astro</h1>
    <p>Здесь я буду писать о своём путешествии в обучении Astro.</p>
  </main>
</Layout>
