---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <a href="/">Главная</a>
    <a href="/about/">Обо мне</a>
    <a href="/blog/">Блог</a>
  </header>

  <main>
    <h1>Мой блог обучения Astro</h1>
    <p>Здесь я буду писать о своём путешествии в обучении Astro.</p>
    <ul>
      <li><a href="/posts/post_1/">Пост 1</a></li>
      <li><a href="/posts/post_2/">Пост 2</a></li>
      <li><a href="/posts/post_3/">Пост 3</a></li>
    </ul>
  </main>
</Layout>
