---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Главная страница';
---

<Layout title={pageTitle}>
  <header>
    <a href="/">Главная</a>
    <a href="/about/">Обо мне</a>
    <a href="/blog/">Блог</a>
  </header>

  <main>
    <h1>{pageTitle}</h1>
  </main>
</Layout>
